<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Potter" %>">
<meta name="keywords" content="">

<title><%= content_for?(:title) ? yield(:title) : (content_for?(:heading) ? yield(:heading) : "Potter") %></title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="icon" type="image/png" href="<%= image_path 'favicon-32x32.png' %>" sizes="32x32">
