<li><%= link_to 'Freestyle', freestyle_path,
                class: selected_class('freestyle') %></li>
<li><%= link_to 'Spell 1: Reverse', reverse_path,
                class: selected_class('reverse') %></li>
<li><%= link_to 'Spell 2: Counter', counter_path,
                class: selected_class('counter') %></li>
<li><%= link_to 'Spell 3: Letter', letter_path,
                class: selected_class('letter') %></li>
<li><%= link_to 'Spell 4: Lookup', lookup_path,
                class: selected_class('lookup') %></li>
